{% extends 'layout/base.html' %}

{% from "components/Layout/Layout.html" import Layout %}
{% from "components/Layout/Layout.Row.html" import LayoutRow %}
{% from "components/Layout/Layout.Container.html" import LayoutContainer %}
{% from "components/Grid/Grid.html" import Grid %}
{% from "components/GridItem/GridItem.html" import GridItem %}
{% from "components/Heading/Heading.html" import Heading %}
{% from "components/Panel/Panel.html" import Panel %}
{% from "components/Paragraph/Paragraph.html" import Paragraph %}
{% from "components/List/List.html" import List %}
{% from "components/List/List.Item.html" import ListItem %}

{% set page_title = 'Home' %}

{% block content %}

  {% call Layout() %}

    {% call LayoutRow(type='neutral') %}

      {% call LayoutContainer() %}

        {% call Grid(columns='8') %}

          {% call Heading(element='h1', size='large') %}Flat North{% endcall %}
          {% call Paragraph(type='large') %}We make WordPress products{% endcall %}

        {% endcall %}

      {% endcall %}

    {% endcall %}

    {% call LayoutRow(type='line') %}
      {% call LayoutContainer() %}

      {% call Paragraph(type='large') %}We are working on <strong>WooReport</strong>. A <em>WooCommerce</em> plug-in that sends sale notifications to <em>Slack</em>.{% endcall %}

        {% call List() %}
          {% call ListItem() %}It tells you when you sell something{% endcall %}
          {% call ListItem() %}It gives you daily, weekly or monthly updates of the money you're making and the products you're selling{% endcall %}
          {% call ListItem() %}It lets you know when somebody cancels an order{% endcall %}
          {% call ListItem() %}It tells you know a new user has signed up{% endcall %}
          {% call ListItem() %}And a whole bunch of other stuff ...{% endcall %}
        {% endcall %}

      {% endcall %}

    {% endcall %}

    {% call LayoutRow(type='line') %}
      {% call LayoutContainer() %}

        {% call Paragraph(type='large') %}Sign up and we'll let you know when it's ready for launch.{% endcall %}

          <!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="//flatnorth.us16.list-manage.com/subscribe/post?u=4704bb566311cab39d9a97ab4&amp;id=08d317039a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	
<div class="mc-field-group">
	<label class="c-form-field__label" for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input class="c-form-field" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4704bb566311cab39d9a97ab4_08d317039a" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="c-button c-button--primary" style="margin-top: 1rem; margin-bottom: 1rem;"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->

      {% endcall %}

    {% endcall %}

    {% call LayoutRow() %}
      {% call LayoutContainer() %}

        {% call Grid(type='halves') %}

          {% call GridItem() %}
          {% call Paragraph(type='small') %}Twitter: <a href="https://twitter.com/flatnrth">@flatnrth</a>{% endcall %}
          {% endcall %}

          {% call GridItem() %}
            {% call Paragraph(type='small') %}Please <a href="mailto:hello@flatnorth.com">let us know</a> if you want to be a beta tester.{% endcall %}
          {% endcall %}

        {% endcall %}

      {% endcall %}
    {% endcall %}

  {% endcall %}

{% endblock %}
